@import "../mixins/mixins"
@import "../vars/variables"

.btn
  position: relative
  cursor: pointer
  border: 1px solid rgba(255, 255, 255, 0.4)
  box-shadow: 0px 3px 0px #454545
  text-align: center
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  color: $color-black
  font-size: 21px
  line-height: 1
  font-family: $family-alt
  font-weight: 500
  background: url("../assets/images/btn.png") repeat 50% 50%
  transition: all $anim-global ease-out
  text-transform: uppercase
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8)
  padding: 9px 20px

  +media($land, $scaling)
    padding: size(9, $size-land) size(20, $size-land)
    font-size: size(21, $size-land)

  +media($port, ">=tablet")
    padding: size(9, $size-port-tablet) size(20, $size-port-tablet)
    font-size: size(21, $size-port-tablet)

  .-mobile &
    padding: size(9, $size-port) size(20, $size-port)
    font-size: size(21, $size-port)
    font-family: Arial, sans-serif
    font-weight: bold
    font-size: 18px
    font-size: size(18, $size-port)

  &:hover
    opacity: 0.8

  &.-loading
    color: transparent
    pointer-events: none
    text-shadow: none

  .loading-spinner
    background-color: transparent
    transform: scale(0.6)
