@import "../mixins/mixins"
@import "../vars/variables"

.input-text
  border: 1px solid #2D2E2D
  padding: 12px
  color: $color-white
  font-size: 14px
  background-color: $color-black
  width: 100%

  +media($land, $scaling)
    padding: size(12, $size-land)
    font-size: size(14, $size-land)

  +media($port, ">=tablet")
    padding: size(12, $size-port-tablet)
    font-size: size(14, $size-port-tablet)

  .-mobile &
    padding: size(12, $size-port)
    font-size: size(14, $size-port)

  &.-error
    border-color: $color-red
    animation: bounce .5s .25s

  &:focus
    outline: none
    border-color: $color-white
