@import "../mixins/mixins"
@import "../vars/variables"

.popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  overflow: auto
  background-color: rgba(0, 0, 0, .7)
  text-align: center

  &::before
    content: ""
    height: 100%
    width: 0
    vertical-align: middle
    display: inline-block

  //

  .popup-close
    cursor: pointer
    position: absolute
    top: 0
    right: -35px
    background: $color-black
    border: 1px solid #535353
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.25), 0px 20px 40px #000000, inset 0px 0px 70px rgba(255, 255, 255, 0.25)
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    line-height: 1
    color: #F2F2F2
    font-size: 15px
    width: 35px
    height: 35px

    +media($land, $scaling)
      right: size(-35, $size-land)
      font-size: size(15, $size-land)
      width: size(35, $size-land)
      height: size(35, $size-land)

    +media($port, ">=tablet")
      right: size(-35, $size-port-tablet)
      font-size: size(15, $size-port-tablet)
      width: size(35, $size-port-tablet)
      height: size(35, $size-port-tablet)

    .-mobile &
      right: size(-35, $size-port)
      font-size: size(15, $size-port)
      width: size(35, $size-port)
      height: size(35, $size-port)

    &:hover
      color: $color-green

  .popup-content
    position: relative
    display: inline-block
    max-width: 100%
    vertical-align: middle
    text-align: left

    .-mobile &
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: auto

      &.-mod
        position: relative
        display: inline-block
        height: auto
        overflow: visible
