@import "../mixins/mixins"
@import "../vars/variables"

$shadow: 6px 6px 5px rgba(0, 0, 0, 0.25), 0px 20px 40px #000000
$shadow1: inset 0px 0px 70px rgba(255, 255, 255, 0.25)
$shadow2: 0px 3.87013px 19.3506px rgba(0, 238, 50, 0.5), 0px 0px 3.87013px rgba(0, 238, 50, 0.5)

.result
  font-size: 13px
  color: #ADADAD
  line-height: 143%

  +media($land, $scaling)
    font-size: size(13, $size-land)

  +media($port, ">=tablet")
    font-size: size(13, $size-port-tablet)

  .-mobile &
    font-size: size(13, $size-port)

  .result-link
    color: $color-green
    text-transform: uppercase
    font-weight: 500
    text-decoration: none

    &:hover
      color: $color-white

  .result-title
    font-weight: 500
    font-size: 17px
    line-height: 1.176470588
    color: $color-white
    margin-bottom: 11px
    text-transform: uppercase

    +media($land, $scaling)
      font-size: size(17, $size-land)
      margin-bottom: size(11, $size-land)

    +media($port, ">=tablet")
      font-size: size(17, $size-port-tablet)
      margin-bottom: size(11, $size-port-tablet)

    .-mobile &
      font-size: size(17, $size-port)
      margin-bottom: size(11, $size-port)

  p
    margin: 8px 0

    +media($land, $scaling)
      margin: size(8, $size-land) 0

    +media($port, ">=tablet")
      margin: size(8, $size-port-tablet) 0

    .-mobile &
      margin: size(8, $size-port) 0

.quiz
  position: relative
  overflow: hidden
  width: 283px
  padding: 24px 30px 30px
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 50%, #17311D 100%)
  border: 1px solid #535353
  box-shadow: $shadow, $shadow1

  &.-red
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 50%, #3B1818 100%)

  +media($land, $scaling)
    width: size(283, $size-land)
    padding: size(24, $size-land) size(30, $size-land) size(30, $size-land)

  +media($port, ">=tablet")
    width: size(283, $size-port-tablet)
    padding: size(24, $size-port-tablet) size(30, $size-port-tablet) size(30, $size-port-tablet)

  .-mobile &
    width: size(283, $size-port)
    padding: size(24, $size-port) size(30, $size-port) size(30, $size-port)

  //

  .quiz-pic
    position: relative
    text-align: center
    height: 138px
    width: 100%
    line-height: 111%
    font-size: 18px
    margin-top: 15px
    margin-bottom: -18px

    +media($land, $scaling)
      height: size(138, $size-land)
      font-size: size(18, $size-land)
      margin-top: size(15, $size-land)
      margin-bottom: size(-18, $size-land)

    +media($port, ">=tablet")
      height: size(138, $size-port-tablet)
      font-size: size(18, $size-port-tablet)
      margin-top: size(15, $size-port-tablet)
      margin-bottom: size(-18, $size-port-tablet)

    .-mobile &
      height: size(138, $size-port)
      font-size: size(18, $size-port)
      margin-top: size(15, $size-port)
      margin-bottom: size(-18, $size-port)

    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: contain
      object-position: 50% 50%

    .quiz-pic-ttile
      position: absolute
      bottom: 0
      left: 5px
      right: 5px
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75)

  .quiz-stat-sep
    margin: 21px 0
    width: 100%
    height: 13px
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, .4) 0%, rgba(255, 0, 0, 0) 100%)

    +media($land, $scaling)
      margin: size(21, $size-land) 0
      height: size(13, $size-land)

    +media($port, ">=tablet")
      margin: size(21, $size-port-tablet) 0
      height: size(13, $size-port-tablet)

    .-mobile &
      margin: size(21, $size-port) 0
      height: size(13, $size-port)

  .quiz-result
    position: relative
    margin-left: -30px
    margin-right: -30px
    margin-top: -51px
    margin-bottom: 34px
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, .4) 0%, rgba(255, 0, 0, 0) 100%)

    +media($land, $scaling)
      margin-left: size(-30, $size-land)
      margin-right: size(-30, $size-land)
      margin-top: size(-51, $size-land)
      margin-bottom: size(34, $size-land)

    +media($port, ">=tablet")
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)
      margin-top: size(-51, $size-port-tablet)
      margin-bottom: size(34, $size-port-tablet)

    .-mobile &
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)
      margin-top: size(-51, $size-port)
      margin-bottom: size(34, $size-port)

    .quiz-result-lines
      position: absolute
      pointer-events: none
      top: 5px
      left: 0
      right: 0
      bottom: 0
      overflow: hidden
      opacity: 0.3

      div
        height: 2px
        margin-bottom: 3px
        background-color: $color-black

    .quiz-result-title
      text-transform: uppercase
      position: absolute
      left: 0
      right: 0
      font-style: italic
      font-family: $family-alt
      font-weight: 500
      color: $color-white
      text-align: center
      font-size: 28px
      line-height: 1
      text-shadow: 0px 3.35754px 16.7877px #FF0000, 0px 0px 3.35754px #FF0000
      margin-top: -39px
      top: 100%

      +media($land, $scaling)
        margin-top: size(-39, $size-land)
        font-size: size(28, $size-land)

      +media($port, ">=tablet")
        margin-top: size(-39, $size-port-tablet)
        font-size: size(28, $size-port-tablet)

      .-mobile &
        margin-top: size(-10, $size-port)
        font-size: size(28, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

    img
      width: 90%
      display: block
      margin: 0 auto

      .-mobile &
        width: 40%

  .quiz-form-link
    text-transform: uppercase
    text-decoration: none
    color: $color-green
    font-weight: bold
    font-size: 14px
    display: inline-block
    margin-top: 15px

    +media($land, $scaling)
      margin-top: size(15, $size-land)
      font-size: size(14, $size-land)

    +media($port, ">=tablet")
      margin-top: size(15, $size-port-tablet)
      font-size: size(14, $size-port-tablet)

    .-mobile &
      margin-top: size(15, $size-port)
      font-size: size(14, $size-port)

    &:hover
      color: $color-white

  .quiz-timer
    text-align: center
    color: $color-white
    margin: 47px 0

    +media($land, $scaling)
      margin: size(47, $size-land) 0

    +media($port, ">=tablet")
      margin: size(47, $size-port-tablet) 0

    .-mobile &
      margin: size(25, $size-port) 0

    //

    .quiz-timer-body
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: flex-start

      > div
        width: 50%
        text-align: center
        color: $color-white

        em
          font-style: normal
          color: $color-green
          font-weight: bold
          font-size: 13px
          display: block
          text-transform: uppercase

          +media($land, $scaling)
            font-size: size(13, $size-land)

          +media($port, ">=tablet")
            font-size: size(13, $size-port-tablet)

          .-mobile &
            font-size: size(13, $size-port)

        span
          display: block
          font-family: $family-alt-1
          line-height: 1
          font-size: 96px
          margin-bottom: 6px

          +media($land, $scaling)
            font-size: size(96, $size-land)
            margin-bottom: size(6, $size-land)

          +media($port, ">=tablet")
            font-size: size(96, $size-port-tablet)
            margin-bottom: size(6, $size-port-tablet)

          .-mobile &
            font-size: size(96, $size-port)
            margin-bottom: size(6, $size-port)
            font-family: Arial, sans-serif
            font-size: 76px
            font-weight: bold
            font-size: size(76, $size-port)

    .quiz-timer-title
      font-family: $family-alt
      font-weight: 500
      text-transform: uppercase
      font-size: 32px
      line-height: 1
      font-style: italic
      margin-bottom: 11px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(11, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(11, $size-port-tablet)

      .-mobile &
        font-size: size(32, $size-port)
        margin-bottom: size(11, $size-port)
        font-family: Arial, sans-serif
        font-size: 26px
        font-weight: bold
        font-style: normal
        font-size: size(26, $size-port)

  .quiz-form-label
    display: block
    font-size: 18px
    line-height: 111%
    color: $color-grey

    +media($land, $scaling)
      font-size: size(18, $size-land)

    +media($port, ">=tablet")
      font-size: size(18, $size-port-tablet)

    .-mobile &
      font-size: size(18, $size-port)
      font-size: 13px
      font-size: size(13, $size-port)

  .quiz-form-item
    position: relative
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: stretch
    margin-top: 12px

    +media($land, $scaling)
      margin-top: size(12, $size-land)

    +media($port, ">=tablet")
      margin-top: size(12, $size-port-tablet)

    .-mobile &
      margin-top: size(12, $size-port)

    button
      position: relative
      cursor: pointer
      border: 1px solid rgba(255, 255, 255, 0.4)
      box-shadow: 0px 3px 0px #454545
      width: 42px
      min-width: 42px
      text-align: center
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      color: $color-black
      font-size: 20px
      line-height: 1
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8)
      background: url("../assets/images/btn.png") repeat 50% 50%
      transition: all $anim-global ease-out

      +media($land, $scaling)
        min-width: size(42, $size-land)
        width: size(42, $size-land)
        font-size: size(20, $size-land)

      +media($port, ">=tablet")
        min-width: size(42, $size-port-tablet)
        width: size(42, $size-port-tablet)
        font-size: size(20, $size-port-tablet)

      .-mobile &
        min-width: size(42, $size-port)
        width: size(42, $size-port)
        font-size: size(20, $size-port)

      &.-loading
        pointer-events: none

      .loading-spinner
        background-color: transparent
        transform: scale(0.5)

      &:hover
        opacity: 0.8

    input
      width: 100%
      border: 1px solid #2D2E2D
      padding: 12px
      color: $color-white
      font-size: 14px
      background-color: transparent
      flex: 1

      &.-error
        border-color: $color-red

      &:focus
        border-color: $color-white

      +media($land, $scaling)
        padding: size(12, $size-land)
        font-size: size(14, $size-land)

      +media($port, ">=tablet")
        padding: size(12, $size-port-tablet)
        font-size: size(14, $size-port-tablet)

      .-mobile &
        padding: size(12, $size-port)
        font-size: size(14, $size-port)

      +placeholder
        text-transform: uppercase

  .quiz-form
    color: #adadad
    font-size: 14px
    line-height: 119%
    margin-top: 45px

    +media($land, $scaling)
      font-size: size(14, $size-land)
      margin-top: size(45, $size-land)

    +media($port, ">=tablet")
      font-size: size(14, $size-port-tablet)
      margin-top: size(45, $size-port-tablet)

    .-mobile &
      font-size: size(14, $size-port)
      margin-top: size(45, $size-port)

    .quiz-form-title
      text-transform: uppercase
      font-weight: bold
      font-size: 23px
      line-height: 94%
      font-family: $family-alt
      font-style: italic
      margin-bottom: 8px

      +media($land, $scaling)
        font-size: size(23, $size-land)
        margin-bottom: size(8, $size-land)

      +media($port, ">=tablet")
        font-size: size(23, $size-port-tablet)
        margin-bottom: size(8, $size-port-tablet)

      .-mobile &
        font-size: size(23, $size-port)
        margin-bottom: size(8, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

      svg
        width: 20px
        height: 17px

        +media($land, $scaling)
          width: size(20, $size-land)
          height: size(17, $size-land)

        +media($port, ">=tablet")
          width: size(20, $size-port-tablet)
          height: size(17, $size-port-tablet)

        .-mobile &
          width: size(20, $size-port)
          height: size(17, $size-port)

    p
      margin: 0

  .quiz-stat-title
    font-style: italic
    text-transform: uppercase
    font-weight: bold
    font-size: 23px
    font-family: $family-alt
    margin-right: 10px

    +media($land, $scaling)
      font-size: size(23, $size-land)
      margin-right: size(10, $size-land)

    +media($port, ">=tablet")
      font-size: size(23, $size-port-tablet)
      margin-right: size(10, $size-port-tablet)

    .-mobile &
      font-size: size(23, $size-port)
      margin-right: size(10, $size-port)
      font-family: Arial, sans-serif
      font-weight: bold
      font-style: normal

    .icon
      color: $color-green
      margin-right: 5px
      font-size: 0.65em
      vertical-align: top
      border-bottom: 2px solid $color-green
      padding-bottom: 2px

      &.-red
        border-color: $color-red
        color: $color-red
        font-size: 0.55em
        padding-bottom: 3px

  .quiz-stat
    font-size: 13px
    line-height: 119%
    color: $color-white
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: baseline

    &:last-child
      margin-bottom: 0

    +media($land, $scaling)
      font-size: size(13, $size-land)

    +media($port, ">=tablet")
      font-size: size(13, $size-port-tablet)

    .-mobile &
      font-size: size(13, $size-port)

    p
      margin: 0

  .quiz-bg-text
    pointer-events: none
    position: absolute
    top: -17px
    left: 0
    text-transform: uppercase
    font-style: italic
    font-size: 87px
    font-family: $family-alt
    line-height: 1
    color: $color-white
    opacity: 0.1
    font-weight: bold

    +media($land, $scaling)
      top: size(-17, $size-land)
      font-size: size(87, $size-land)

    +media($port, ">=tablet")
      top: size(-17, $size-port-tablet)
      font-size: size(87, $size-port-tablet)

    .-mobile &
      top: size(-17, $size-port)
      font-size: size(87, $size-port)
      font-family: Arial, sans-serif
      font-weight: bold
      font-style: normal

  .quiz-answer-item
    padding: 10px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    color: rgba(255, 255, 255, .5)
    font-weight: 500
    font-size: 17px
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.59)
    border: 1px solid rgba(255, 255, 255, .3)
    margin-bottom: 10px
    cursor: pointer
    position: relative
    transition: all $anim-global ease-out

    +media($land, $scaling)
      padding: size(10, $size-land)
      font-size: size(17, $size-land)
      margin-bottom: size(10, $size-land)

    +media($port, ">=tablet")
      padding: size(10, $size-port-tablet)
      font-size: size(17, $size-port-tablet)
      margin-bottom: size(10, $size-port-tablet)

    .-mobile &
      padding: size(7, $size-port)
      font-size: size(11, $size-port)
      margin-bottom: size(7, $size-port)
      width: calc(50% - 3.5px)
      font-size: 15px
      font-weight: bold
      font-size: size(11, $size-port)

    &:hover
      transform: translateX(2%)

    &.-selected
      color: $color-white
      background: rgba(0, 238, 50, .5)
      cursor: default
      pointer-events: none
      box-shadow: 0 0 10px $color-green

    &.-active
      color: $color-white
      cursor: default
      pointer-events: none
      background: none

    &:last-child
      margin-bottom: 0

      .-mobile &
        margin-bottom: size(7, $size-port)

    &.-disabled
      pointer-events: none

    em
      position: absolute
      top: 0
      left: 0
      height: 100%
      background: #00EE32
      width: 0%
      pointer-events: none
      opacity: 0.5
      box-shadow: $shadow2
      transition: width $anim-global*3 ease-out

    div
      position: relative

    span
      animation: bounceIn .5s linear
      position: relative
      font-size: 12px
      letter-spacing: 1.52719px
      white-space: nowrap
      margin-left: 10px

      +media($land, $scaling)
        font-size: size(12, $size-land)

      +media($port, ">=tablet")
        font-size: size(12, $size-port-tablet)

      .-mobile &
        font-size: size(12, $size-port)

  .quiz-answer
    margin-top: 35px

    +media($land, $scaling)
      margin-top: size(35, $size-land)

    +media($port, ">=tablet")
      margin-top: size(35, $size-port-tablet)

    .-mobile &
      margin-top: size(35, $size-port)
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-items: stretch

  .p
    margin: 0
    font-size: 17px

    +media($land, $scaling)
      font-size: size(17, $size-land)

    +media($port, ">=tablet")
      font-size: size(17, $size-port-tablet)

    .-mobile &
      font-size: size(17, $size-port)

  .quiz-head
    color: $color-white
    opacity: 0.3
    text-transform: uppercase
    font-size: 12px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    margin-bottom: 12px

    +media($land, $scaling)
      font-size: size(12, $size-land)
      margin-bottom: size(12, $size-land)

    +media($port, ">=tablet")
      font-size: size(12, $size-port-tablet)
      margin-bottom: size(12, $size-port-tablet)

    .-mobile &
      font-size: size(12, $size-port)
      margin-bottom: size(12, $size-port)
      font-family: Verdana, Arial, sans-serif
      font-size: 11px
      font-size: size(11, $size-port)

    &.-mb
      margin-bottom: 47px

      +media($land, $scaling)
        margin-bottom: size(47, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(47, $size-port-tablet)

      .-mobile &
        margin-bottom: size(47, $size-port)

    div:last-child
      white-space: nowrap
      letter-spacing: 1.52719px

    .icon
      font-size: 1.4em
      margin-right: 3px
      vertical-align: middle
      display: inline-block
      line-height: 0

      +media($land, $scaling)
        margin-right: size(3, $size-land)

      +media($port, ">=tablet")
        margin-right: size(3, $size-port-tablet)

      .-mobile &
        margin-right: size(3, $size-port)

  .quiz-live
    text-align: right
    margin-bottom: 35px

    +media($land, $scaling)
      margin-bottom: size(35, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(35, $size-port-tablet)

    .-mobile &
      margin-bottom: size(35, $size-port)

    svg
      width: 20px
      height: 17px
      margin-left: 8px

      +media($land, $scaling)
        width: size(20, $size-land)
        height: size(17, $size-land)
        margin-left: size(8, $size-land)

      +media($port, ">=tablet")
        width: size(20, $size-port-tablet)
        height: size(17, $size-port-tablet)
        margin-left: size(8, $size-port-tablet)

      .-mobile &
        width: size(20, $size-port)
        height: size(17, $size-port)
        margin-left: size(8, $size-port)

  .quiz-time
    position: absolute
    top: 19px
    left: 0
    color: $color-white
    font-style: italic
    font-size: 30px
    line-height: 1
    font-family: $family-alt
    background: $color-green
    min-width: 98px
    text-align: center
    font-weight: 500
    box-shadow: $shadow2
    padding: 5px 10px
    text-transform: uppercase
    height: 43px
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    +media($land, $scaling)
      top: size(19, $size-land)
      font-size: size(30, $size-land)
      min-width: size(98, $size-land)
      padding: size(5, $size-land) size(10, $size-land)
      height: size(43, $size-land)

    +media($port, ">=tablet")
      height: size(43, $size-port-tablet)
      top: size(19, $size-port-tablet)
      font-size: size(30, $size-port-tablet)
      min-width: size(98, $size-port-tablet)
      padding: size(5, $size-port-tablet) size(10, $size-port-tablet)

    .-mobile &
      height: size(43, $size-port)
      top: size(19, $size-port)
      font-size: size(30, $size-port)
      min-width: size(98, $size-port)
      padding: size(5, $size-port) size(10, $size-port)
      font-family: Arial, sans-serif
      font-size: 26px
      font-weight: bold
      font-style: normal
      font-size: size(26, $size-port)

    &.-mod
      font-size: 21px
      padding: 11px 31px

      +media($land, $scaling)
        font-size: size(21, $size-land)
        padding: size(11, $size-land) size(31, $size-land)

      +media($port, ">=tablet")
        font-size: size(21, $size-port-tablet)
        padding: size(11, $size-port-tablet) size(31, $size-port-tablet)

      .-mobile &
        font-size: size(21, $size-port)
        padding: size(11, $size-port) size(31, $size-port)

    &.-red
      background: $color-red
      box-shadow: 0px 3.87013px 19.3506px $color-red, 0px 0px 3.87013px $color-red

    .icon
      font-size: 0.8em
      margin-right: 4px
      vertical-align: baseline

      +media($land, $scaling)
        margin-right: size(4, $size-land)

      +media($port, ">=tablet")
        margin-right: size(4, $size-port-tablet)

      .-mobile &
        margin-right: size(4, $size-port)

.widget-wrapper
  position: absolute
  right: 43px
  top: 143px

  &.-center
    position: static
    margin: 30px auto

  .-mobile &
    top: 0
    right: 0
    left: 0
    bottom: 0
    overflow: auto

    .quiz
      width: 100%
      height: 100%
      overflow: auto

  //

  .widget-wrapper-head
    position: absolute
    top: 57px
    left: -41px
    width: 405px

    +media($land, $scaling)
      top: size(57, $size-land)
      left: size(-41, $size-land)
      width: size(405, $size-land)

    +media($port, ">=tablet")
      top: size(57, $size-port-tablet)
      left: size(-41, $size-port-tablet)
      width: size(405, $size-port-tablet)

    .-mobile &
      top: size(57, $size-port)
      left: size(-41, $size-port)
      width: size(405, $size-port)

.login
  font-size: 14px
  line-height: 119%
  color: $color-grey

  +media($land, $scaling)
    font-size: size(14, $size-land)

  +media($port, ">=tablet")
    font-size: size(14, $size-port-tablet)

  .-mobile &
    font-size: size(14, $size-port)

  //

  .login-nav
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    text-transform: uppercase
    font-weight: bold
    font-size: 14px
    color: $color-green
    margin-top: 20px

    +media($land, $scaling)
      margin-top: size(20, $size-land)
      font-size: size(14, $size-land)

    +media($port, ">=tablet")
      margin-top: size(20, $size-port-tablet)
      font-size: size(14, $size-port-tablet)

    .-mobile &
      margin-top: size(20, $size-port)
      font-size: size(14, $size-port)

    span
      cursor: pointer
      user-select: none

      &:hover
        color: $color-white

  p
    margin: 0 0 20px 0

    +media($land, $scaling)
      margin-bottom: size(20, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(20, $size-port-tablet)

    .-mobile &
      margin-bottom: size(20, $size-port)

  .login-pics
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 21px

    +media($land, $scaling)
      margin-bottom: size(21, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(21, $size-port-tablet)

    .-mobile &
      margin-bottom: size(21, $size-port)

    img
      width: 103px
      height: 103px
      object-fit: cover
      object-position: 50% 50%

      +media($land, $scaling)
        width: size(103, $size-land)
        height: size(103, $size-land)

      +media($port, ">=tablet")
        width: size(103, $size-port-tablet)
        height: size(103, $size-port-tablet)

      .-mobile &
        width: size(103, $size-port)
        height: size(103, $size-port)

.login-form
  .login-form-label
    margin-bottom: 10px
    display: block

  .btn
    width: 100%
    margin-top: 24px

    +media($land, $scaling)
      margin-top: size(24, $size-land)

    +media($port, ">=tablet")
      margin-top: size(24, $size-port-tablet)

    .-mobile &
      margin-top: size(24, $size-port)

  .login-form-ch
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    font-size: 13px

    +media($land, $scaling)
      font-size: size(13, $size-land)

    +media($port, ">=tablet")
      font-size: size(13, $size-port-tablet)

    .-mobile &
      font-size: size(13, $size-port)

    .switch
      margin-right: 10px

      +media($land, $scaling)
        margin-right: size(10, $size-land)

      +media($port, ">=tablet")
        margin-right: size(10, $size-port-tablet)

      .-mobile &
        margin-right: size(10, $size-port)

  .login-form-item
    margin-bottom: 12px
    position: relative

    +media($land, $scaling)
      margin-bottom: size(12, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(12, $size-port-tablet)

    .-mobile &
      margin-bottom: size(12, $size-port)
.mobile-vert
  .-mobile &
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: stretch
    min-height: 60vh
