<template lang="pug">
  i.popup-close.icon.i_x(@click="close")
</template>

<script>
export default {
  name: 'CloseBtn',
  data() {
    return {
      ready: false,
    };
  },
  methods: {
    close() {
      this.$store.commit('SHOW_POPUP_CONTENT', false);
    },
  },
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

</style>
