<template lang="pug">
  .popup-pic
    CloseBtn(v-if="loaded")

    img(
      @load="loaded = true"
      :src="'https://i.picsum.photos/id/278/1144/686.jpg'")
</template>

<script>
import CloseBtn from './CloseBtn.vue';

export default {
  name: 'PopupPic',
  data() {
    return {
      loaded: null,
      ready: false,
      quiz: this.$store.getters.socket.quizContent,
      src: (process.env.VUE_APP_NODE_ENV === 'production'
        ? process.env.VUE_APP_BASE_API : process.env.VUE_APP_BASE_API_DEV).replace('/api', ''),
    };
  },
  methods: {},
  mounted() {
  },
  components: { CloseBtn },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .popup-pic
    vertical-align: middle
    max-height: 80vh
    max-width: 80vw
    position: relative

    img
      max-height: 100%

</style>
