<template lang="pug">
  .popup(
    @click.self="!$store.getters.popup.disabled && $store.commit('SHOW_POPUP_CONTENT', false)")
    transition(name="scale" @after-leave="close" mode="out-in")
      .popup-content(
        v-if="$store.getters.popup.openedPopupContent"
        :class="$store.getters.popup.className")

        slot

</template>

<script>
export default {
  name: 'PopupLayout',
  props: ['showContent'],
  methods: {
    close() {
      this.$store.commit('SHOW_POPUP', {
        opened: false,
        currentPopup: null,
        className: null,
      });
    },
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

</style>
