h1, .h1
  font-weight: bold
  font-size: 1.8em

h2, .h2
  font-weight: bold
  font-size: 1.5em

h3, .h3
  font-weight: bold
  font-size: 1.5em

h4, h5, h6, .h4, .h5, .h6
  font-weight: bold
  font-size: 1.2em

a
  color: $link-color
  text-decoration: underline

a:visited

a:hover
  text-decoration: none

a:active

a:focus
  outline: none

img
  vertical-align: middle
  max-width: 100%

.v-lazy-image
  filter: blur(5px)
  transition: filter $anim-global

.v-lazy-image-loaded
  filter: blur(0)

textarea
  overflow: auto

input, textarea
  +placeholder
    color: $placeholder
    opacity: 0.5

input:focus, input:active, textarea:focus, textarea:active
  outline: none

  +placeholder
    color: transparent !important

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active
  outline: none

/*stylized-switch*/
.switch
  position: relative
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: 30px
  width: 30px
  min-width: 30px
  vertical-align: middle
  cursor: pointer
  margin-right: 10px
  border: 1px solid #2d2e2d

  +media($land, $scaling)
    margin-right: size(10, $size-land)
    height: size(30, $size-land)
    width: size(30, $size-land)
    min-width: size(30, $size-land)

  +media($port, ">=tablet")
    margin-right: size(10, $size-port-tablet)
    height: size(30, $size-port-tablet)
    width: size(30, $size-port-tablet)
    min-width: size(30, $size-port-tablet)

  .-mobile &
    margin-right: size(10, $size-port)
    height: size(30, $size-port)
    width: size(30, $size-port)
    min-width: size(30, $size-port)

  &.-error
    border-color: $color-red
    animation: bounce .5s .25s

.switch input
  vertical-align: middle
  margin: 0
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.switch input:not(:checked), .switch input:checked
  opacity: 0
  z-index: 1
  cursor: pointer

/*not checked radio*/
.switch input[type=radio]:not(:checked) + i, .switch input[type=radio]:checked + i
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: $color-white
  border-radius: 100%

/*not checked checkbox*/
.switch input[type=checkbox]:not(:checked) + i, .switch input[type=checkbox]:checked + i
  position: absolute
  top: 3px
  left: 3px
  right: 3px
  bottom: 3px
  background: transparent
  font-size: 16px
  padding-left: 1px
  line-height: 0.8
  color: transparent
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center

  +media($land, $scaling)
    font-size: size(16, $size-land)
    top: size(3, $size-land)
    left: size(3, $size-land)
    right: size(3, $size-land)
    bottom: size(3, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    top: size(3, $size-port-tablet)
    left: size(3, $size-port-tablet)
    right: size(3, $size-port-tablet)
    bottom: size(3, $size-port-tablet)

  .-mobile &
    font-size: size(16, $size-port)
    top: size(3, $size-port)
    left: size(3, $size-port)
    right: size(3, $size-port)
    bottom: size(3, $size-port)

  &.-error
    border-color: $color-red

/*checked radio*/
.switch input[type=radio]:checked + i
  background: $color-red
  box-shadow: 0 0 0 -3px $color-white

/*checked checkbox*/
.switch input[type=checkbox]:checked + i
  color: $color-white
  background-color: $color-green

/*end stylized-switch*/

.no-webp
  .on-webp
    display: none

.webp
  .off-webp
    display: none

button
  &:active, &:focus
    outline: none

*
  -webkit-tap-highlight-color:  transparent


