<template lang="pug">
  FullScreen.start
    h6 Спасибо за участие

    .full-screen-frame-title Спасибо за участие в битве!

    .full-screen-form
      p Будущих крутых акций

      form.full-screen-form-item(novalidate)
        input.input-text(type="text" placeholder="email@email.com")

        button.btn(type="submit") Уведомить меня

</template>

<script>
import FullScreen from './FullScreen.vue';

export default {
  name: 'Start',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { FullScreen },
};
</script>

<style lang="sass" scoped>
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .full-screen-frame-title
    font-size: 54px

    +media($land, $scaling)
      font-size: size(54, $size-land)

    +media($port, ">=tablet")
      font-size: size(54, $size-port-tablet)

    .-mobile &
      font-size: size(54, $size-port)

</style>
