<template lang="pug">
  .full-screen
    .left-pic
      v-lazy-image(:src="require('../../assets/images/i.png')")

      p Включайся в битву <br> за шмот!

    .right-pic
      v-lazy-image(:src="require('../../assets/images/i1.png')")

    .full-screen-frame
      slot
</template>

<script>
export default {
  name: 'FullScreen',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  $shadow3: inset 0px 0px 70px rgba(1, 238, 51, 0.2)
  $shadow4: 6px 6px 5px rgba(0, 0, 0, 0.25), 0px 20px 40px #000000
  $shadow5: 0px 5.85842px 29.2921px #00EE32, 0px 0px 5.85842px #00EE32
  $shadow6: 14.456px 14.456px 28.9121px #064A21

  .full-screen
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    overflow-y: auto
    overflow-x: hidden
    background: rgba(0, 0, 0, .2)
    text-align: center

    &::after
      content: ""
      pointer-events: none
      position: absolute
      width: 1622px
      height: 598px
      left: 50%
      top: -281px
      transform: translateX(-50%)
      background: radial-gradient(50% 50% at 50% 50%, #00EE32 0%, rgba(0, 238, 50, 0) 100%)
      opacity: 0.4

      +media($land, $scaling)
        width: size(1622, $size-land)
        height: size(598, $size-land)
        top: size(-281, $size-land)

      +media($port, ">=tablet")
        width: size(1622, $size-port-tablet)
        height: size(598, $size-port-tablet)
        top: size(-281, $size-port-tablet)

      .-mobile &
        width: size(1622, $size-port)
        height: size(598, $size-port)
        top: size(-281, $size-port)

    &::before
      content: ""
      height: 100%
      width: 0
      vertical-align: middle
      display: inline-block

    //

    .left-pic
      position: absolute
      left: -30px
      top: 50%
      transform: translateY(-50%)
      width: 629px

      +media($land, $scaling)
        left: size(-30, $size-land)
        width: size(629, $size-land)

      +media($port, ">=tablet")
        left: size(-30, $size-port-tablet)
        width: size(629, $size-port-tablet)

      .-mobile &
        left: size(-30, $size-port)
        width: size(629, $size-port)

      p
        margin: 0
        font-style: italic
        font-weight: 500
        color: $color-white
        font-size: 55px
        text-shadow: $shadow5, $shadow6
        text-align: left
        text-transform: uppercase
        position: absolute
        top: 50%
        transform: translateY(-36%)
        left: 43px
        font-family: $family-alt

        +media($land, $scaling)
          font-size: size(55, $size-land)
          left: size(43, $size-land)

        +media($port, ">=tablet")
          font-size: size(55, $size-port-tablet)
          left: size(43, $size-port-tablet)

        .-mobile &
          font-size: size(55, $size-port)
          left: size(43, $size-port)
          font-family: Arial, sans-serif
          font-weight: bold
          font-style: normal

    .right-pic
      position: absolute
      right: 17px
      top: 50%
      transform: translateY(-50%)
      width: 474px

      +media($land, $scaling)
        right: size(17, $size-land)
        width: size(474, $size-land)

      +media($port, ">=tablet")
        right: size(17, $size-port-tablet)
        width: size(474, $size-port-tablet)

      .-mobile &
        right: size(17, $size-port)
        width: size(474, $size-port)

    .full-screen-form
      p
        margin: 0 0 14px
        font-size: 16px
        line-height: 1.1875
        letter-spacing: 0.005em
        color: $color-grey

        +media($land, $scaling)
          font-size: size(16, $size-land)
          margin-bottom: size(14, $size-land)

        +media($port, ">=tablet")
          font-size: size(16, $size-port-tablet)
          margin-bottom: size(14, $size-port-tablet)

        .-mobile &
          font-size: size(16, $size-port)
          margin-bottom: size(14, $size-port)

      .full-screen-form-item
        position: relative
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: stretch
        max-width: 452px

        +media($land, $scaling)
          max-width: size(452, $size-land)

        +media($port, ">=tablet")
          max-width: size(452, $size-port-tablet)

        .-mobile &
          max-width: size(452, $size-port)

        input
          flex: 1

    .full-screen-frame-title
      font-family: $family-alt
      font-weight: bold
      font-size: 64px
      line-height: 1.2
      color: $color-white
      font-style: italic
      letter-spacing: -3px
      text-transform: uppercase
      margin-bottom: 13px

      +media($land, $scaling)
        margin-bottom: size(13, $size-land)
        font-size: size(64, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(13, $size-port-tablet)
        font-size: size(64, $size-port-tablet)

      .-mobile &
        margin-bottom: size(13, $size-port)
        font-size: size(64, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

    .full-screen-frame
      position: relative
      overflow: hidden
      display: inline-block
      text-align: left
      width: 714px
      max-width: 70%
      background: $color-black
      border: 1px solid #535353
      box-shadow: $shadow3, $shadow4
      padding: 46px 97px 61px
      vertical-align: middle

      +media($land, $scaling)
        width: size(714, $size-land)
        padding: size(46, $size-land) size(97, $size-land) size(61, $size-land)

      +media($port, ">=tablet")
        width: size(714, $size-port-tablet)
        padding: size(46, $size-port-tablet) size(97, $size-port-tablet) size(61, $size-port-tablet)

      .-mobile &
        width: size(714, $size-port)
        padding: size(46, $size-port) size(97, $size-port) size(61, $size-port)

      //

      h6
        margin: 0
        text-transform: uppercase
        white-space: nowrap
        position: absolute
        top: -32px
        left: -5px
        right: 0
        overflow: hidden
        font-family: $family-alt
        font-weight: bold
        font-size: 92px
        line-height: 1
        color: $color-white
        opacity: 0.1
        font-style: italic
        letter-spacing: -2px

        +media($land, $scaling)
          top: size(-32, $size-land)
          left: size(-5, $size-land)
          font-size: size(92, $size-land)

        +media($port, ">=tablet")
          top: size(-32, $size-port-tablet)
          left: size(-5, $size-port-tablet)
          font-size: size(92, $size-port-tablet)

        .-mobile &
          top: size(-32, $size-port)
          left: size(-5, $size-port)
          font-size: size(92, $size-port)
          font-family: Arial, sans-serif
          font-weight: bold
          font-style: normal

</style>
