<template lang="pug">
  FullScreen.start
    h6 Cледующая битва через

    .full-screen-frame-title Cледующая битва через

    countdown.countdown(:time="time" tag="div" :transform="transform")
      template(slot-scope="props")
        div
          span {{ props.days }}
          em дней

        div
          span {{ props.hours }}
          em часов

        div
          span {{ props.minutes }}
          em минут

        div
          span {{ props.seconds }}
          em секунд

    .full-screen-form
      p Зарегистрируйся, чтобы выигрывать шмот и использовать жизни

      form.full-screen-form-item(novalidate)
        input.input-text(type="text" placeholder="email@email.com")

        button.btn(type="submit") Получить жизни

</template>

<script>
import countdown from '@chenfengyuan/vue-countdown';
import FullScreen from './FullScreen.vue';

export default {
  name: 'Start',
  data() {
    return {
      ready: false,
      time: this.$date('2020-04-15 12:00') - this.$date(),
    };
  },
  methods: {
    transform(p) {
      const props = p;

      Object.entries(props).forEach(([key, value]) => {
        const digits = value < 10 ? `0${value}` : value;

        props[key] = `${digits}`;
      });

      return props;
    },
  },
  mounted() {
  },
  components: { FullScreen, countdown },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .countdown
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    text-align: center
    position: relative
    width: 100%
    margin-bottom: 33px

    +media($land, $scaling)
      margin-bottom: size(33, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(33, $size-port-tablet)

    .-mobile &
      margin-bottom: size(33, $size-port)

    span
      display: block
      font-family: $family-alt
      font-size: 98px
      line-height: 1
      font-style: italic
      font-weight: bold
      margin-bottom: 4px

      +media($land, $scaling)
        font-size: size(98, $size-land)
        margin-bottom: size(4, $size-land)

      +media($port, ">=tablet")
        font-size: size(50, $size-port-tablet)
        margin-bottom: size(4, $size-port-tablet)

      .-mobile &
        font-size: size(50, $size-port)
        margin-bottom: size(4, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

    em
      font-style: normal
      font-weight: bold
      color: $color-green
      font-size: 13px
      text-transform: uppercase

      +media($land, $scaling)
        font-size: size(13, $size-land)

      +media($port, ">=tablet")
        font-size: size(13, $size-port-tablet)

      .-mobile &
        font-size: size(13, $size-port)
</style>
