<template lang="pug">
  .quiz
    .quiz-time.-mod
      span Регистрация

    Lives

    .login
      p Зарегистрируйся, чтобы выигрывать шмот и использовать жизни

      .login-pics
        v-lazy-image(:src="require('@/assets/images/Layer65.png')")

        v-lazy-image(:src="require('@/assets/images/Layer75.png')")

      form.login-form(@submit.prevent="send" novalidate)
        .login-form-item
          label.login-form-label
            | Введите код подтверждения из письма, отправленного на адрес ************

          input.input-text(
            maxlength="11"
            :class="{'-error': $v.code.$error}"
            v-model.trim="code" type="text")

        p.color-red(v-if="errorMessage.login") {{errorMessage.login}}

        p.color-red(v-if="errorMessage.password") {{errorMessage.password}}

        button.btn(:class="{'-loading': submitStatus === 'PENDING'}"
          :disabled="$v.$error" type='submit') подвердить
          Loading(v-if="submitStatus === 'PENDING'")
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators';
import Loading from '../components/Loading.vue';
import Lives from '../components/Lives.vue';

export default {
  name: 'Confirm',
  data() {
    return {
      ready: false,
      code: null,
      errorMessage: {
        login: null,
        password: null,
      },
      submitStatus: null,
    };
  },
  validations() {
    const validate = {
      code: {
        required,
        minLength: minLength(8),
      },
    };

    return validate;
  },
  methods: {
    initWebSocket() {
      this.$disconnect();

      this.$connect();

      this.$socket.onopen = () => {
        this.$store.commit('SOCKET_ONOPEN');
      };
    },

    send() {
      this.$v.$touch();

      this.errorMessage.login = null;

      this.errorMessage.password = null;

      if (!this.$v.$invalid) {
        if (this.submitStatus !== 'PENDING') {
          this.submitStatus = 'PENDING';

          this.$store.dispatch('SignIn', {
            email: this.$store.getters.signUpEmail,
            password: this.code,
            auth_key: this.$store.getters.token,
          })
            .then((r) => {
              if (!r.error) {
                this.$store.dispatch('DeleteGuest', {
                  auth_key: this.$store.getters.token,
                })
                  .then(() => {
                    this.$store.commit('SET_TOKEN', r.auth_key);

                    this.initWebSocket();

                    if (this.$store.getters.socket.request === 'quizEnd') {
                      this.$router.push('/result');
                    } else if (this.$store.getters.quizActive) {
                      this.$router.push('/wait');
                    } else {
                      this.$router.push('/');
                    }
                  });
              } else if (r.message && r.message.login) {
                [this.errorMessage.login] = r.message.login;

                this.submitStatus = null;
              } else if (r.message && r.message.password) {
                [this.errorMessage.password] = r.message.password;

                this.submitStatus = null;
              }
            })
            .catch(() => {
              this.submitStatus = null;
            });
        }
      }
    },
  },
  mounted() {
  },
  components: { Loading, Lives },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz-live
    margin-bottom: 45px

    +media($land, $scaling)
      margin-bottom: size(45, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(45, $size-port-tablet)

    .-mobile &
      margin-bottom: size(45, $size-port)
</style>
