<template lang="pug">
  .quiz
    div(v-if="$store.getters.authTwitch")
      h6 Панель управления викториной

      p(v-if="status")
        | Текущий статус: <br>
        | Викторина №1 {{status.quizs[0].status}}  <br>
        | Викторина №2 {{status.quizs[1].status}}

      Select(
        v-if="!quizId"
        :quizId="quizId"
        @select="getQuizId($event)"
        :placeholder="'Выберите викторину'"
        :list="list")

      div(v-if="quizId")
        div(v-if="!currentQuizClose")
          p(v-if="!pending")
            button.btn(
              @click="start"
              type="button") следующий вопрос

          p(v-else) Ждем окончания ответа всех участников на вопрос...

        p
          button.btn(
            @click="reboot"
            type="button") перезапустить

        // p.no-margin
          button.btn(
            @click="close"
            type="button") закрыть викторину

    div.color-red(v-else) Ошибка доступа
</template>

<script>
import Select from '../components/Select.vue';

export default {
  name: 'Dashboard',
  data() {
    return {
      ready: false,
      list: [
        {
          text: 'Викторина CS GO',
          value: 1,
        },
        {
          text: 'Викторина Dota 2',
          value: 2,
        },
      ],
      quizId: null,
      pending: null,
      status: null,
      currentQuizClose: false,
    };
  },
  methods: {
    getStatus() {
      this.$store.dispatch('GetStatusNowQuiz')
        .then((r) => {
          if (!r.erorr) {
            this.status = r;

            r.quizs.forEach((item) => {
              if (r.current === item.id && item.statusInt >= 4) {
                this.currentQuizClose = true;
              }
            });

            if (r.current === null) {
              this.currentQuizClose = false;
            }
          }
        });
    },

    start() {
      this.pending = true;

      setTimeout(() => {
        this.pending = false;
      }, 20 * 1000);

      this.$disconnect();

      if (this.$store.getters.authTwitch) {
        this.$connect();

        this.$socket.onopen = () => {
          this.$socket.sendObj({
            type: 'startQuiz',
            quiz_id: this.quizId || this.status.current,
          });
        };
      }
    },

    close() {
      this.pending = false;

      this.$disconnect();

      if (this.$store.getters.authTwitch) {
        this.$connect();

        this.$socket.onopen = () => {
          this.$socket.sendObj({
            type: 'closeQuiz',
            quiz_id: this.quizId || this.status.current,
          });
        };
      }
    },

    reboot() {
      this.quizId = null;

      this.pending = false;

      this.$store.dispatch('ReloadAllForQuiz');
    },

    getQuizId(o) {
      this.quizId = null;

      this.$store.dispatch('SelectQuizForPlay', {
        quiz_id: o.value,
      })
        .then(() => {
          this.quizId = o.value;
        });
    },
  },
  mounted() {
    setInterval(() => {
      this.getStatus();
    }, 1000);
  },
  components: { Select },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz
    overflow: visible
    min-width: 50vw

  h6
    margin: 0 0 15px 0
    font-style: italic
    font-weight: 500
    font-family: $family-alt
    line-height: 119%
    text-transform: uppercase
    font-size: 21px

    +media($land, $scaling)
      font-size: size(60, $size-land)

    .-mobile &
      font-size: size(21, $size-port)
      font-family: Arial, sans-serif
      font-weight: bold
      font-style: normal

  .btn
    font-size: 1.1em
</style>
