<template lang="pug">
  .quiz
    .quiz-result
      v-lazy-image(:src="require('../assets/images/ok.svg')")

      .quiz-result-lines
        div(v-for="line in 100")

    h6 Спасибо за участие в битве!

    .login
      p.no-margin Будь в курсе будущих крутых акций от FIVE®

      form.login-form(novalidate)
        .login-form-item
          input.input-text(type="email" placeholder="email@email.com")

        .login-form-item
          label.login-form-ch
            .switch
              input(type="checkbox")
              i.icon.i_ch

            span Согласен на обрабокту персональных данных

        button.btn(type="submit") Уведомить меня
</template>

<script>
export default {
  name: 'End',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  $gr: radial-gradient(50% 50% at 50% 50%, rgba(0, 238, 50, .4) 0%, rgba(0, 238, 50, 0) 100%)
  $gr1: radial-gradient(50% 50% at 50% 50%, rgba(0, 238, 50, .4) 0%, rgba(255, 0, 0, 0) 100%)

  .login-form
    margin-top: 5px

  h6
    margin: 0 0 15px 0
    font-style: italic
    font-weight: 500
    font-family: $family-alt
    line-height: 119%
    text-transform: uppercase
    font-size: 21px

    +media($land, $scaling)
      font-size: size(21, $size-land)

    +media($port, ">=tablet")
      font-size: size(21, $size-port-tablet)

    .-mobile &
      font-size: size(21, $size-port)
      font-family: Arial, sans-serif
      font-weight: bold
      font-style: normal

  .quiz .quiz-result img
    width: 76%
    margin: 0 auto

  .quiz-result
    background: $gr
    margin-bottom: 25px
    margin-top: 0

    +media($land, $scaling)
      margin-bottom: size(25, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(25, $size-port-tablet)

    .-mobile &
      margin-bottom: size(25, $size-port)
</style>
