<template lang="pug">
  .quiz(v-if="$store.getters.socket.user")
    countdown.quiz-time(:time="time" tag="div" :transform="transform")
      template(slot-scope="props")
        i.icon.i_time
        span {{ props.minutes }}:{{ props.seconds }}

    Lives

    .quiz-head
      div
         // |Вопрос 1 из 12

      div
        i.icon.i_views

        span {{$store.getters.socket.countOnline}}

    .quiz-timer
      .quiz-timer-title(v-if="$store.getters.socket.user.register") До начала битвы

      .quiz-timer-title(v-else) До начала

      countdown.quiz-timer-body(:time="time" tag="div" :transform="transform")
        template(slot-scope="props")
          div
            span {{ props.minutes }}
            em Минут

          div
            span {{ props.seconds }}
            em Секунды

    CodeForm
</template>

<script>
import countdown from '@chenfengyuan/vue-countdown';
import Lives from '../components/Lives.vue';
import CodeForm from '../components/CodeForm.vue';

export default {
  name: 'Home',

  data() {
    return {
      ready: null,
      code: null,
      errorMessage: {
        code: null,
      },
      submitStatus: null,
    };
  },

  computed: {
    time() {
      const t = this.$date(this.$store.getters.socket.timeQuiz) - this.$date();

      if (t >= 0) {
        return this.$date(this.$store.getters.socket.timeQuiz) - this.$date();
      }

      return 0;
    },

    activeQuiz() {
      return this.$store.getters.quizActive;
    },
  },

  watch: {
    activeQuiz(val) {
      if (val) {
        this.$router.push('/wait');
      }
    },
  },

  methods: {
    transform(p) {
      const props = p;

      Object.entries(props)
        .forEach(([key, value]) => {
          const digits = value < 10 ? `0${value}` : value;

          props[key] = `${digits}`;
        });

      return props;
    },
  },

  mounted() {},

  components: {
    countdown,
    Lives,
    CodeForm,
  },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

</style>
