<template lang="pug">
  .quiz.-red
    .quiz-bg-text Ошибка!

    .quiz-time.-red(v-if="$store.getters.socket.request === 'showResultBad_noAnswer' || $store.getters.socket.request === 'showResultEnd_noAnswer'")
      i.icon.i_warn
      span Ошибка!

    .quiz-time.-red(v-else)
      i.icon.i_time
      span {{$store.getters.timeAnswer}} Ошибка!

    Lives

    .mobile-vert
      .quiz-head.-mb
        div

        div
          i.icon.i_views

          span {{$store.getters.socket.countOnline}}

      .quiz-result
        v-lazy-image(:src="require('../assets/images/error.svg')")

        .quiz-result-lines
          div(v-for="line in 100")

        .quiz-result-title(
          v-if="!$store.getters.socket.canGame && $store.getters.socket.request === 'showResultBad_noAnswer'")
          | Вы выбыли из игры

        .quiz-result-title(v-else) минус жизнь

      .quiz-stat
        .quiz-stat-title
          i.icon.i_x.-red

          | {{$store.getters.socket.countIncorrect}}

        p {{declOfNum($store.getters.socket.countIncorrect, ['Человек выбыл', 'Человека выбыло', 'Человек выбыло'])}}

      .quiz-stat-sep

      .quiz-stat
        .quiz-stat-title
          i.icon.i_ch

          | {{$store.getters.socket.countCorrect}}

        p {{declOfNum($store.getters.socket.countCorrect, ['Человек остался', 'Человека осталось', 'Человек осталось'])}}

</template>

<script>
import Lives from '../components/Lives.vue';

export default {
  name: 'QuizError',
  data() {
    return {
      ready: false,
    };
  },
  methods: {
    declOfNum(number, titles) {
      const cases = [2, 0, 1, 1, 1, 2];
      return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    },
  },
  mounted() {
  },
  components: { Lives },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"
</style>
