<template lang="pug">
  .quiz.-red
    .quiz-bg-text Ошибка!

    .quiz-time.-red(v-if="$store.getters.socket.request === 'showResultBad_noAnswer' || $store.getters.socket.request === 'showResultEnd_noAnswer'")
      i.icon.i_warn
      span Ошибка!

    .quiz-time.-red(v-else)
      i.icon.i_time
      span {{$store.getters.timeAnswer}} Ошибка!

    Lives

    .mobile-vert
      .quiz-head.-mb
        div Жизней больше нет

        div
          i.icon.i_views

          span {{$store.getters.socket.countOnline}}

      .quiz-result
        v-lazy-image(:src="require('../assets/images/error.svg')")

        .quiz-result-lines
          div(v-for="line in 100")

        .quiz-result-title Жизней больше нет

      br
      br

      CodeForm(v-if=`$store.getters.socket.canGame &&
          ($store.getters.socket.request === 'showResultBad'
          || $store.getters.socket.request === 'showResultEnd'
          || $store.getters.socket.request === 'showResultBad_noAnswer'
          || $store.getters.socket.request === 'showResultEnd_noAnswer')`)
</template>

<script>
import Lives from '../components/Lives.vue';
import CodeForm from '../components/CodeForm.vue';

export default {
  name: 'QuizErrorNotLive',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Lives, CodeForm },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .-mobile
    .quiz .quiz-result .quiz-result-title
      margin-top: -3.63158vmin
      font-size: 4.36842vmin

  .quiz-result
    margin-bottom: 0

  .quiz-form
    margin-top: 0
</style>
