<template lang="pug">
  .quiz
    .quiz-bg-text

    .quiz-time
      i.icon.i_time
      span {{$store.getters.timeAnswer}} правильно

    Lives

    .mobile-vert
      .quiz-head.-mb
        div
          // | Вопрос 1 из 12

        div
          i.icon.i_views

          span {{$store.getters.socket.countOnline}}

      .quiz-result
        v-lazy-image(:src="require('../assets/images/ok.svg')")

        .quiz-result-lines
          div(v-for="line in 100")

        .quiz-result-title
          // | 3 верных ответа <br>подряд
          | Ответ верный

      .quiz-stat
        .quiz-stat-title
          i.icon.i_ch

          | {{$store.getters.socket.countCorrect}}

        p {{declOfNum($store.getters.socket.countCorrect, ['Человек остался', 'Человека осталось', 'Человек остался'])}}

      .quiz-stat-sep

      .quiz-stat
        .quiz-stat-title
          i.icon.i_x.-red

          | {{$store.getters.socket.countIncorrect}}

        p {{declOfNum($store.getters.socket.countIncorrect, ['Человек выбыл', 'Человека выбыло', 'Человек выбыло'])}}

</template>

<script>
import Lives from '../components/Lives.vue';

export default {
  name: 'QuizOk',
  data() {
    return {
      ready: false,
    };
  },
  methods: {
    declOfNum(number, titles) {
      const cases = [2, 0, 1, 1, 1, 2];
      return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    },
  },
  mounted() {
  },
  components: { Lives },

  // filters: {
  //   format(value) {
  //     if (!value) return '';
  //     value = value.toString();
  //     return value.charAt(0).toUpperCase() + value.slice(1);
  //   }
  // },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  $gr: radial-gradient(50% 50% at 50% 50%, rgba(0, 238, 50, .4) 0%, rgba(0, 238, 50, 0) 100%)
  $gr1: radial-gradient(50% 50% at 50% 50%, rgba(0, 238, 50, .4) 0%, rgba(255, 0, 0, 0) 100%)

  .quiz-stat-sep
    background: $gr1

  .quiz .quiz-result .quiz-result-title
    text-shadow: 0 3.35754px 16.7877px $color-green, 0 0 3.35754px $color-green
    margin-top: -21px

    +media($land, $scaling)
      margin-top: size(-21, $size-land)

    +media($port, ">=tablet")
      margin-top: size(-10, $size-port-tablet)

    .-mobile &
      margin-top: size(-10, $size-port)

  .quiz .quiz-result img
    width: 76%
    margin: 0 auto

    .-mobile &
      width: 40%

  .quiz-result
    background: $gr
    margin-bottom: 62px

    +media($land, $scaling)
      margin-bottom: size(62, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(62, $size-port-tablet)

    .-mobile &
      margin-bottom: size(62, $size-port)
</style>
