<template lang="pug">
  .quiz
    countdown.quiz-time(
      @progress="handleCountdownProgress"
      :time="time" tag="div" :transform="transform")
      template(slot-scope="props")
        i.icon.i_time
        span {{ props.minutes }}:{{ props.seconds }}

    Lives

    .mobile-vert
      .quiz-head
        div Вопрос {{quiz.number}} из {{quiz.numberMax}}

        div
          i.icon.i_views

          span {{$store.getters.socket.countOnline}}

      .p(v-if="!quiz.imgPreview")
        | {{quiz.text}}

      .quiz-pic(v-else @click="openPopupPic")
        v-lazy-image(:src="src + quiz.imgPreview")

        .quiz-pic-ttile {{quiz.text}}

      .quiz-answer
        .quiz-answer-item(
          v-for="(answer, name, index) in quiz.answers"
          :class=`[{'-selected': selectedAnswerId === index + 1},
                  {'-disabled': selectedAnswerId || !$store.getters.socket.canGame},
                  {'-active':
                   $store.getters.socket.answersCount && selectedAnswerId === index + 1}]`
          @click="send(index + 1)")
          em(:style="{width: width(index + 1) + '%'}")

          div {{answer}}

          span(v-if="$store.getters.socket.answersCount")
            | {{$store.getters.socket.answersCount[`answer${index + 1}Count`]}}

</template>

<script>
import countdown from '@chenfengyuan/vue-countdown';
import Lives from '../components/Lives.vue';

export default {
  name: 'Quiz',
  data() {
    return {
      ready: false,
      quiz: this.$store.getters.socket.quizContent,
      timeAnswer: null,
      selectedAnswerId: null,
      src: (process.env.VUE_APP_NODE_ENV === 'production'
        ? process.env.VUE_APP_BASE_API : process.env.VUE_APP_BASE_API_DEV).replace('/api', ''),
    };
  },

  computed: {
    time() {
      const t = (this.$date(this.$store.getters.socket.quizContent.time) - this.$date(this.$store.getters.socket.serverTime));

      if (t >= 0) {
        return t;
      }

      return 0;
    },
  },

  methods: {
    timeDelta() {
      const delta = this.$date() - this.$date(this.$store.getters.socket.serverTime);

      this.$store.commit('UPDATE_TIME_DELTA', delta);

      return delta;
    },

    openPopupPic() {
      this.$store.commit('SHOW_POPUP', {
        opened: true,
        currentPopup: 'PopupPic',
      });
    },

    width(index) {
      let w = 0;

      if (this.$store.getters.socket.answersCount && this.$store.getters.socket.answersCount.allCount) {
        w = (100 * this.$store.getters.socket.answersCount[`answer${index}Count`])
          / this.$store.getters.socket.answersCount.allCount;
      }

      return w;
    },

    handleCountdownProgress(data) {
      this.timeAnswer = this.$store.getters.socket.quizContent.timeLong - data.totalSeconds;
    },

    send(id) {
      if (!this.selectedAnswerId && this.$store.getters.socket.canGame) {
        this.selectedAnswerId = id;

        this.$store.commit('UPDATE_TIME_ANSWER', this.$date().set('minute', 0).set('second', this.timeAnswer).format('mm:ss'));

        const timeUser = this.$date() - this.$date(this.$store.getters.socket.quizContent.timeStart);

        this.$socket.sendObj({
          type: 'sendAnswer',
          quiz_id: this.quiz.quiz_id,
          quest_id: this.quiz.quest_id,
          answer_id: id,
          time: timeUser,
          auth_key: this.$store.getters.token,
        });
      }
    },

    transform(p) {
      const props = p;

      Object.entries(props).forEach(([key, value]) => {
        const digits = value < 10 ? `0${value}` : value;

        props[key] = `${digits}`;
      });

      return props;
    },
  },

  mounted() {
    this.timeDelta();

    this.selectedAnswerId = null;

    this.timeAnswer = null;

    this.$store.commit('UPDATE_TIME_ANSWER',
      this.$date().set('minute', 0)
        .set('second', this.$store.getters.socket.quizContent.timeLong).format('mm:ss'));
  },

  components: {
    countdown,
    Lives,
  },

  filters: {
    time(value) {
      return value < 10 ? `0${value}` : value;
    },
  },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"
</style>
