<template lang="pug">
  .quiz(:class="{'-red': !$store.getters.socket.user.lifeCount}")
    .quiz-bg-text(v-if="!$store.getters.socket.user.lifeCount") Ошибка!

    .quiz-time(:class="{'-red': !$store.getters.socket.user.lifeCount}")
      i.icon.i_winner(v-if="$store.getters.socket.user.lifeCount")
      i.icon.i_warn(v-else)
      span(v-if="$store.getters.socket.user.lifeCount") Поздравляем!
      span(v-else) Ошибка!

    Lives

    .mobile-vert
      .quiz-head
        div(v-if="$store.getters.socket.user.lifeCount")
          span(v-if="quiz") Вопрос {{quiz.number}} из {{quiz.numberMax}}

        div(v-else) Жизней больше нет

        div
          i.icon.i_views

          span {{$store.getters.socket.countOnline}}

      .result
        .result-title(v-if="$store.getters.socket.raitingPlace") твоё место в общем рейтинге — {{$store.getters.socket.raitingPlace}}

        p(v-if="$store.getters.socket.existRaiting === false") Ты отвечал правильно, но медленно. Попробуй удачи в следующей битве!

        div(v-if="$store.getters.socket.user.register && $store.getters.socket.user.lifeCount")
          br(v-if="!$store.getters.isPortrait")
          br(v-if="!$store.getters.isPortrait")

        a.result-link(
          @click.prevent="getRating"
          href="#") Посмотреть рейтинг

        // div(v-if="$store.getters.socket.user.register")
          // br
          // br
          // br

          // .result-title promo.Fivegum.ru

          // p Переходи на сайт и выигрывай другие призы!

          // a.result-link(href="https://promo.fivegum.ru") Перейти на сайт

        br(v-if="!$store.getters.isPortrait")
        br(v-if="!$store.getters.isPortrait")

      .login(v-if="$store.getters.socket.user.register")
        form.login-form(novalidate)
          .login-form-item
            label.login-form-ch
              .switch
                input(
                  @change="send($event)"
                  type="checkbox")
                i.icon.i_ch

              span Получать уведомления по Email о следующей игре

      SignUpForm(v-if="!$store.getters.socket.user.register")
</template>

<script>
import Lives from '../components/Lives.vue';
import SignUpForm from '../components/SignUpForm.vue';

export default {
  name: 'ResultOk',
  data() {
    return {
      ready: false,
      quiz: this.$store.getters.socket.quizContent,
    };
  },
  methods: {
    send(e) {
      this.$store.dispatch('Start', {
        email: this.$store.getters.socket.user.email,
        checked: e.target.checked,
      });
    },

    getRating() {
      this.$store.dispatch('GetRaiting', {
        quiz_id: this.quiz.quiz_id,
      })
        .then((r) => {
          if (!r.error) {
            this.$store.commit('UPDATE_RATING', r.raiting);

            this.$store.commit('SHOW_RATING', true);
          }
        });
    },
  },
  mounted() {
  },
  components: { Lives, SignUpForm },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz-time
    font-size: 30px
    padding: 21px 30px

    +media($land, $scaling)
      font-size: size(30, $size-land)
      padding: size(21, $size-land) size(30, $size-land)

    +media($port, ">=tablet")
      font-size: size(30, $size-port-tablet)
      padding: size(21, $size-port-tablet) size(30, $size-port-tablet)

    .-mobile &
      font-size: size(30, $size-port)
      padding: size(21, $size-port) size(30, $size-port)

  .quiz-live
    margin-bottom: 45px

    +media($land, $scaling)
      margin-bottom: size(45, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(45, $size-port-tablet)

    .-mobile &
      margin-bottom: size(45, $size-port)
</style>
