<template lang="pug">
  .quiz
    .quiz-time.-mod
      span Регистрация

    Lives

    SignUpForm
</template>

<script>
import SignUpForm from '../components/SignUpForm.vue';
import Lives from '../components/Lives.vue';

export default {
  name: 'SignUp',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Lives, SignUpForm },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz-live
    margin-bottom: 45px

    +media($land, $scaling)
      margin-bottom: size(45, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(45, $size-port-tablet)

    .-mobile &
      margin-bottom: size(45, $size-port)
</style>
