<template lang="pug">
  .quiz
    Lives

    br
    br

    .mobile-vert
      .quiz-result
        .quiz-result-title
          | Ждите...

    br
    br

    CodeForm(v-if="$store.getters.socket.user")
</template>

<script>
import Lives from '../components/Lives.vue';
import CodeForm from '../components/CodeForm.vue';

export default {
  name: 'Wait',
  data() {
    return {
      ready: false,
    };
  },

  computed: {
    activeQuiz() {
      return this.$store.getters.quizActive;
    },
  },

  watch: {
    activeQuiz(val) {
      if (!val) {
        this.$router.push('/');
      }
    },
  },

  methods: {},
  mounted() {},
  components: { Lives, CodeForm },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .mobile-vert
    .-mobile &
      justify-content: center
      min-height: 30vh

  .quiz
    .quiz-result
      padding-top: 30px
      margin-bottom: 30px
      background: none

      .quiz-result-title
        text-shadow: 0 3.35754px 16.7877px $color-green, 0 0 3.35754px $color-green
        margin-top: 0

    .-mobile &
      margin-top: size(-10, $size-port)
</style>
