<template lang="pug">
  .quiz-form
    .quiz-form-label(v-if="$store.getters.socket.user.register")
      div(v-if="$route.name !== 'quiz-error-not-live'")
        | Введи промокод и получи дополнительную жизнь

      p.p(v-else) Регистрируй коды с пачек <br> и получай дополнительные жизни:

    .quiz-form-label(v-else) Зарегистрируйся, чтобы выигрывать шмот и использовать жизни

    form.quiz-form-item(novalidate
    @submit.prevent="send"
      v-if="$store.getters.socket.user.register")
      input(
        :class="{'-error': $v.code.$error}"
        maxlength="11"
        v-model.trim="code" type="text" placeholder="Введи промокод")

      button(
        :class="{'-loading': submitStatus === 'PENDING'}"
        :disabled="$v.$error" type='submit')
        Loading(v-if="submitStatus === 'PENDING'")
        i.icon.i_arr-r(v-else)

    router-link.quiz-form-link(to="sign-up" v-else) зарегистрироваться

    p.color-red(v-if="errorMessage.code") {{errorMessage.code}}

</template>

<script>
import { required } from 'vuelidate/lib/validators';
import Loading from './Loading.vue';

export default {
  name: 'CodeForm',
  data() {
    return {
      code: null,
      errorMessage: {
        code: null,
      },
      submitStatus: null,
    };
  },

  validations() {
    const validate = {
      code: {
        required: this.code === ' ' ? {} : required,
      },
    };

    return validate;
  },

  methods: {
    send() {
      this.$v.$touch();

      this.errorMessage.code = null;

      if (!this.$v.$invalid) {
        if (this.submitStatus !== 'PENDING') {
          this.submitStatus = 'PENDING';

          this.$store.dispatch('RegisterCode', {
            code: this.code,
          })
            .then((r) => {
              if (!r.error) {
                this.errorMessage.code = null;

                if (this.$route.name === 'quiz-error-not-live') {
                  this.$router.push('/quiz-error');
                }
              } else if (r.message && r.message.code) {
                [this.errorMessage.code] = r.message.code;
              }

              this.code = ' ';

              this.submitStatus = null;
            })
            .catch(() => {
              this.submitStatus = null;
            });
        }
      }
    },
  },

  mounted() {
  },

  components: { Loading },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

</style>
