<template lang="pug">
  .quiz-live
    .quiz-live-text(v-if="!$store.getters.socket.canGame && $store.getters.quizActive") зритель

    div(v-else)
      svg(v-for="live in ((lifeCount <= 3 ? 3 : lifeCount) - lifeCount)")
        use(xlink:href="@/assets/images/sprite.svg#heart")

      svg.-animate(
        v-for="live in lifeCount")
        use(xlink:href="@/assets/images/sprite.svg#heart-full")
</template>

<script>
export default {
  name: 'Lives',
  data() {
    return {
      ready: false,
    };
  },

  computed: {
    lifeCount() {
      let c = 0;

      if (this.$store.getters.socket.user) {
        c = this.$store.getters.socket.user.lifeCount;
      }

      return c;
    },
  },

  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz-live-text
    text-transform: uppercase
    font-size: 1em
    text-align: right
    font-family: $family-alt
    font-weight: 500
    // padding-top: 5px
    padding-bottom: 3px

    .-mobile &
      font-weight: bold

  svg
    &.-animate
      animation: bounceIn .5s linear

    &:nth-child(1)
      animation-delay: 1s

    &:nth-child(2)
      animation-delay: .5s

</style>
