<template lang="pug">
  .rating
    .rating-title-bg рейтинг

    .rating-title рейтинг

    div(v-if="$store.getters.rating.data")
      vueCustomScrollbar.scroll-area(
        :settings="settings")
        table.rating-table
          thead
            tr
              th

              th Место

              th Email

              th Очки

          tbody
            template(v-for="(item, index) in $store.getters.rating.data")
              tr
                td {{index < 9 ? '0'+(index+1) : index+1}}

                td {{item.place}}

                td {{item.email}}

                td {{item.points}}

    p.text-center(v-if="!$store.getters.rating.data") К сожалению, никто не дошёл до финала

    .rating-close.icon.i_x(@click="close")
</template>

<script>
import vueCustomScrollbar from 'vue-custom-scrollbar';

export default {
  name: 'Rating',
  data() {
    return {
      ready: false,
      settings: {
        maxScrollbarLength: 100,
        wheelPropagation: false,
        swipeEasing: true,
      },
    };
  },
  methods: {
    close() {
      this.$store.commit('SHOW_RATING', false);
    },
  },
  mounted() {
  },
  components: { vueCustomScrollbar },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  $shadow: 6px 6px 5px rgba(0, 0, 0, 0.25), 0px 20px 40px #000000
  $shadow1: inset 0px 0px 70px rgba(255, 255, 255, 0.25)

  .scroll-area
    overflow: hidden
    max-height: 49vh

    .ps__thumb-y
      border-radius: 0
      background-color: #535353
      width: 7px !important
      right: 2px

    .ps__rail-y
      background-color: $color-black !important
      width: 11px
      opacity: 1

      &::before, &::after
        content: ""
        height: 2px
        background-color: $color-green
        width: 100%
        position: absolute
        top: 0px
        left: 0
        z-index: 1

      &::after
        top: auto
        bottom: 0

  .rating
    overflow: hidden
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 742px
    padding: 128px 95px 95px
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 50%, #17311D 100%)
    border: 1px solid #535353
    box-shadow: $shadow, $shadow1
    z-index:  1

    +media($land, $scaling)
      width: size(742, $size-land)
      padding: size(128, $size-land) size(95, $size-land) size(95, $size-land)

    +media($port, ">=tablet")
      width: size(742, $size-port-tablet)
      padding: size(128, $size-port-tablet) size(95, $size-port-tablet) size(95, $size-port-tablet)

    .-mobile &
      width: 100%
      padding: size(80, $size-port) size(5, $size-port) size(5, $size-port)

    &::before
      background: radial-gradient(50% 50% at 50% 50%, #00EE32 0%, rgba(0, 238, 50, 0) 100%)
      content: ""
      height: 370px
      left: -145%
      opacity: 0.6
      position: absolute
      right: -32%
      top: -27%
      transform: matrix(1, -0.01, -0.03, -1, 0, 0)
      width: 2000px

      +media($land, $scaling)
        height: size(370, $size-land)
        width: size(2000, $size-land)

      +media($port, ">=tablet")
        height: size(370, $size-port-tablet)
        width: size(2000, $size-port-tablet)

      .-mobile &
        height: size(370, $size-port)
        width: size(2000, $size-port)

    //

    .rating-table
      width: 100%
      border-spacing: 0
      border-collapse: collapse

      td
        font-weight: 500
        font-family: $family-alt
        font-size: 23px
        line-height: 119%
        color: $color-white
        padding: 10px 5px
        vertical-align: top
        text-transform: uppercase
        border-bottom: 1px solid #2D2E2D

        &:first-child
          color: $color-green
          font-size: 13px
          font-weight: bold
          font-family: $family-base
          line-height: 148%
          width: 8%

        .-mobile &
          font-family: Arial, sans-serif
          font-weight: bold
          font-style: normal
          font-size: size(13, $size-port)

      th
        text-align: left
        text-transform: uppercase
        padding: 5px
        color: $color-green
        font-weight: bold
        font-size: 13px
        line-height: 119%
        padding-bottom: 0

        +media($land, $scaling)
          padding: size(5, $size-land)
          font-size: size(13, $size-land)
          padding-bottom: 0

        +media($port, ">=tablet")
          padding: size(5, $size-port-tablet)
          font-size: size(13, $size-port-tablet)
          padding-bottom: 0

        .-mobile &
          padding: size(5, $size-port)
          font-size: size(13, $size-port)
          padding-bottom: 0

    .rating-title
      font-style: italic
      font-weight: 500
      font-size: 32px
      line-height: 1
      color: $color-white
      position: absolute
      top: 26px
      left: 0
      text-transform: uppercase
      font-family: $family-alt
      background-color: $color-green
      box-shadow: 0px 3.87013px 19.3506px #00EE32, 0px 0px 3.87013px #00EE32
      padding: 11px 26px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        top: size(26, $size-land)
        padding: size(11, $size-land) size(26, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        top: size(26, $size-port-tablet)
        padding: size(11, $size-port-tablet) size(26, $size-port-tablet)

      .-mobile &
        font-size: size(32, $size-port)
        top: size(16, $size-port)
        padding: size(11, $size-port) size(26, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

    .rating-title-bg
      position: absolute
      top: -4px
      left: -6px
      font-style: italic
      font-weight: 500
      font-size: 92px
      line-height: 1
      color: $color-white
      opacity: 0.1
      font-family: $family-alt
      text-transform: uppercase

      +media($land, $scaling)
        font-size: size(92, $size-land)

      +media($port, ">=tablet")
        font-size: size(92, $size-port-tablet)

      .-mobile &
        font-size: size(70, $size-port)
        font-family: Arial, sans-serif
        font-weight: bold
        font-style: normal

    .rating-close
      cursor: pointer
      position: absolute
      top: 20px
      right: 20px
      background: rgba(0, 0, 0, .7)
      border: 1px solid rgba(76, 91, 80, .7)
      box-shadow: 0px 2.79469px 9.31564px rgba(0, 0, 0, 0.59)
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      line-height: 1
      color: #535353
      font-size: 15px
      width: 35px
      height: 35px

      +media($land, $scaling)
        top: size(20, $size-land)
        right: size(20, $size-land)
        font-size: size(15, $size-land)
        width: size(35, $size-land)
        height: size(35, $size-land)

      +media($port, ">=tablet")
        top: size(20, $size-port-tablet)
        right: size(20, $size-port-tablet)
        font-size: size(15, $size-port-tablet)
        width: size(35, $size-port-tablet)
        height: size(35, $size-port-tablet)

      .-mobile &
        top: size(20, $size-port)
        right: size(20, $size-port)
        font-size: size(15, $size-port)
        width: size(35, $size-port)
        height: size(35, $size-port)

      &:hover
        color: $color-green

</style>
