<template lang="pug">
  .select(v-click-outside="onClickOutside")
    .select-head(:class="{'-open': show}" @click="show = !show")
      span(v-if="!quizId") {{placeholder}}

      span(v-else) {{selected}}

      i.select-arr.icon.i_arr-b

    transition(name="slide-bottom-smile-min")
      .select-drop.scrollbar-styled(v-if="show")
        .select-option(
          :class="{'-active': item.active}"
          @click="select(item)"
          v-for="(item, index) in list") {{item.text}}

</template>

<script>
export default {
  props: ['list', 'placeholder', 'quizId'],
  name: 'Select',
  data() {
    return {
      ready: false,
      show: false,
      selected: null,
    };
  },
  methods: {
    onClickOutside() {
      this.close();
    },

    close() {
      this.show = false;
    },

    select(item) {
      this.close();

      this.selected = item.text;

      this.$emit('select', item);
    },
  },
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .select
    position: relative
    text-align: left
    font-family: $family-alt
    text-transform: uppercase
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8)
    font-weight: 500
    display: inline-block

    .-mobile &
      font-family: Arial, sans-serif
      font-weight: bold

    .select-head
      cursor: pointer
      background: url("../assets/images/btn.png") repeat 50% 50%
      color: $color-black
      font-size: 16px
      line-height: 1
      padding: 9px 20px

      +media($land, $scaling)
        font-size: 1.1em
        padding: size(9, $size-land) size(20, $size-land)

      +media($port, ">=tablet")
        font-size: 1.1em
        padding: size(9, $size-port-tablet) size(20, $size-port-tablet)

      .-mobile &
        font-size: size(16, $size-port)
        padding: size(9, $size-port) size(20, $size-port)

      &.-open
        .select-arr
          transform: translateY(-50%) rotate(-180deg)

      span
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        padding-right: 20px

        +media($land, $scaling)
          padding-right: size(20, $size-land)

        +media($port, ">=tablet")
          padding-right: size(20, $size-port-tablet)

        .-mobile &
          padding-right: size(20, $size-port)

        &::first-letter
          text-transform: uppercase

    .select-option
      cursor: pointer
      padding: 0
      margin-bottom: 20px

      +media($land, $scaling)
        margin-bottom: size(20, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(20, $size-port-tablet)

      .-mobile &
        margin-bottom: size(20, $size-port)

      &.-active
        font-weight: normal
        color: $color-blue

      &:last-child
        margin-bottom: 0

      &::first-letter
        text-transform: uppercase

      &:hover
        color: $color-green
        transition: all $anim-global ease-out

    .select-drop
      background-color: $color-white
      padding: 17px 19px
      font-size: 16px
      line-height: 1.2
      position: absolute
      top: 100%
      margin-top: 2px
      left: 0
      min-width: 100%
      color: $color-black
      z-index: 10000
      max-height: 30vh
      overflow: auto
      box-shadow: 2px 2px 2px rgba(0, 0, 0, .2)

      +media($land, $scaling)
        padding: size(17, $size-land) size(19, $size-land)
        font-size: 1.1em

      +media($port, ">=tablet")
        padding: size(17, $size-port-tablet) size(19, $size-port-tablet)
        font-size: size(16, $size-port-tablet)
        font-size: 1.1em

      .-mobile &
        padding: size(17, $size-port) size(19, $size-port)
        font-size: 1.1em

    .select-arr
      position: absolute
      top: 50%
      right: 20px
      transform: translateY(-50%)
      font-size: 14px
      line-height: 1
      color: $color-black

      +media($land, $scaling)
        font-size: size(14, $size-land)
        right: size(20, $size-land)

      +media($port, ">=tablet")
        font-size: size(14, $size-port-tablet)
        right: size(20, $size-port-tablet)

      .-mobile &
        font-size: size(14, $size-port)
        right: size(20, $size-port)

</style>
