<template lang="pug">
  .show-btn.icon.i_x
</template>

<script>
export default {
  name: 'ShowBtn',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .show-btn
    cursor: pointer
    position: absolute
    top: -44px
    right: 0
    background: rgba(0, 0, 0, .7)
    border: 1px solid rgba(76, 91, 80, .7)
    box-shadow: 0px 2.79469px 9.31564px rgba(0, 0, 0, 0.59)
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    line-height: 1
    color: $color-white
    font-size: 15px
    text-shadow: 0 0 10px $color-green
    width: 24px
    height: 24px

    +media($land, $scaling)
      top: size(-44, $size-land)
      font-size: size(15, $size-land)
      width: size(24, $size-land)
      height: size(24, $size-land)

    +media($port, ">=tablet")
      top: size(-44, $size-port-tablet)
      font-size: size(15, $size-port-tablet)
      width: size(24, $size-port-tablet)
      height: size(24, $size-port-tablet)

    .-mobile &
      top: size(-44, $size-port)
      font-size: size(15, $size-port)
      width: size(24, $size-port)
      height: size(24, $size-port)

    &:hover
      color: $color-green

</style>
