<template lang="pug">
  .login
    div(v-if="$route.name !== 'sign-up'")
      br
      br

    p Зарегистрируйся, чтобы выигрывать шмот и использовать жизни

    .login-pics(v-if="$route.name === 'sign-up'")
      v-lazy-image(:src="require('@/assets/images/Layer65.png')")

      v-lazy-image(:src="require('@/assets/images/Layer75.png')")

    form.login-form(@submit.prevent="send" novalidate)
      .login-form-item
        input.input-text(
          :class="{'-error': $v.email.$error}"
          v-model="email"
          type="email" placeholder="email@email.com")

      .login-form-item
        label.login-form-ch
          .switch(:class="{'-error': $v.checked.$error}")
            input(@change="$v.checked.$touch()" type="checkbox" v-model="checked")
            i.icon.i_ch

          span Согласен на обработку данных

      p.color-red(v-if="errorMessage.login") {{errorMessage.login}}

      p.color-red(v-if="errorMessage.email") {{errorMessage.email}}

      button.btn(
        :class="{'-loading': submitStatus === 'PENDING'}"
        :disabled="$v.$error" type='submit') зарегистрироваться
        Loading(v-if="submitStatus === 'PENDING'")

    .login-nav(v-if="$route.name === 'sign-up'")
      span(@click="$router.push('sign-in')") Авторизация

      span(@click="$router.push('/')") Пропустить
</template>

<script>
import { required, email, sameAs } from 'vuelidate/lib/validators';
import Loading from './Loading.vue';

export default {
  name: 'SignUpForm',
  data() {
    return {
      ready: false,
      email: null,
      checked: null,
      errorMessage: {
        email: null,
        login: null,
      },
      submitStatus: null,
    };
  },
  validations() {
    const validate = {
      checked: {
        sameAs: sameAs(() => true),
        required,
      },

      email: {
        email,
        required,
      },
    };

    return validate;
  },
  methods: {
    send() {
      this.$v.$touch();

      this.errorMessage.login = null;

      if (!this.$v.$invalid) {
        if (this.submitStatus !== 'PENDING') {
          this.submitStatus = 'PENDING';

          let name = 'SignUp';

          const data = {
            email: this.email,
            personal_data_processing_agreement: 1,
          };

          if (this.$route.name !== 'sign-up') {
            name = 'RegisterGuest';

            data.auth_key = this.$store.getters.token;
          }

          this.$store.dispatch(name, data)
            .then((r) => {
              if (!r.error) {
                this.$store.commit('SET_SIGNUP_EMAIL', this.email);

                this.$router.push('/confirm');
              } else if (r.emailError) {
                this.errorMessage.email = r.emailError;

                this.submitStatus = null;
              }
            })
            .catch(() => {
              this.submitStatus = null;
            });
        }
      }
    },
  },
  mounted() {
  },
  components: { Loading },
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .quiz-live
    margin-bottom: 45px

    +media($land, $scaling)
      margin-bottom: size(45, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(45, $size-port-tablet)

    .-mobile &
      margin-bottom: size(45, $size-port)
</style>
