<template lang="pug">
  router-view
</template>

<script>
import { isPortrait } from '@/utils/device';
/* eslint-disable */
const queryString = require('query-string');

export default {
  data() {
    return {
      authorized: false,
    };
  },

  methods: {
    detectPlatform() {
      const { platform } = queryString.parse(window.location.search);

      this.$store.commit('SET_PLATFORM', platform);

      if (platform === 'mobile') {
        document.querySelector('body').classList.add('-mobile');
      }
    },

    detectModeDashboard() {
      const { mode } = queryString.parse(window.location.search);

      if (mode === 'dashboard') {
        return true;
      } else {
        return false;
      }
    },

    createGuest() {
      this.$store.dispatch('CreateAccGuest')
        .then((r) => {
          if (!r.error) {
            this.$store.commit('SET_TOKEN', r.auth_key);

            this.initWebSocket();
          }
        });
    },

    checkAuth() {
      if (this.$store.getters.token) {
        this.initWebSocket();
      } else {
        this.createGuest();
      }
    },

    initTwitch() {
      let token;
      let tuid;
      const twitch = window.Twitch.ext;

      twitch.onContext((context) => {
        twitch.rig.log(context);

        console.log('---', context);
      });

      twitch.onAuthorized((auth) => {
        token = auth.token;
        tuid = auth.userId;

        twitch.rig.log('---', token, tuid);

        console.log('---', token, tuid);

        this.authorized = true;

        this.$store.commit('SET_AUTH_TWITCH', true);
      });
    },

    initWebSocket() {
      this.$connect();

      this.$socket.onopen = (e) => {
        this.$store.commit('SOCKET_ONOPEN');
      };
    },

    handleWindowResize() {
      this.$store.commit('UPDATE_WINDOW_WIDTH', window.innerWidth);

      this.$store.commit('UPDATE_IS_PORTRAIT', isPortrait());

      this.$store.commit('UPDATE_IS_MOBILE', (isPortrait() && window.innerWidth < 768));
    },

    handleScroll() {
      this.$store.commit('UPDATE_WINDOW_SCROLL_Y', window.scrollY);
    },
  },

  mounted() {
    this.detectPlatform();

    this.$store.commit('UPDATE_WINDOW_WIDTH', window.innerWidth);

    this.initTwitch();

    if (this.detectModeDashboard()) {
      this.$router.replace('/dashboard'); // панель управления для стримера
    } else {
      this.checkAuth(); // старт виджета
    }
  },

  async created() {
    this.handleWindowResize();

    this.handleScroll();

    window.addEventListener('resize', this.handleWindowResize);

    window.addEventListener('scroll', this.handleScroll);
  },

  destroyed() {
    window.removeEventListener('resize', this.handleWindowResize);

    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>
