<template lang="pug">
  #app
    .widget-wrapper(:class="{'-center': $route.name === 'dashboard'}")
      .preload
        img(:src="require('../assets/images/btn.png')" alt="")
        img(:src="require('../assets/images/error.svg')" alt="")
        img(:src="require('../assets/images/ok.svg')" alt="")
        img(:src="require('../assets/images/sprite.svg')" alt="")
        div d
        i sdf
        b fs

      //.dev-nav
        JsonViewer(:expand-depth=5 :value="$store.getters")

      keep-alive
        transition(name="slide-l-to-r" mode="out-in" appear)
          router-view

      transition(name="fade" @after-enter="$store.commit('SHOW_POPUP_CONTENT', true)" mode="out-in")
        PopupLayout(v-if="$store.getters.popup.opened")
          transition(name="slide-bottom-smile" mode="out-in")
            keep-alive
              component(:is="$store.getters.popup.currentPopup")

      Rating(v-show="$store.getters.rating.show")
</template>

<script>
import Rating from '@/components/Rating.vue';
import ShowBtn from '@/components/ShowBtn.vue';
import JsonViewer from 'vue-json-viewer';

export default {
  name: 'Layout',
  data() {
    return {
      ready: false,
      popups: {
        showPopupContent: null,
      },
    };
  },
  methods: {},
  mounted() {
    // this.$store.commit('SHOW_POPUP', {
    //   opened: true,
    //   currentPopup: 'PopupPic',
    // });
  },
  components: {
    ShowBtn,
    Rating,
    JsonViewer,
    PopupLayout: () => import('../components/popups/PopupLayout.vue'),
    PopupPic: () => import('../components/popups/PopupPic.vue'),
  },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .dev-nav
    position: fixed
    top: 0
    left: 0
    color: $color-white

  .preload
    position: absolute
    left: -9999px
    top: -9999px
    font-family: $family-alt

    .-mobile &
      font-family: Arial, sans-serif

    b
      font-weight: 500

    div
      font-family: $family-alt-1

      .-mobile &
        font-family: Arial, sans-serif
        font-weight: bold

</style>
